<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentul Meu HTML</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <!-- Alte tag-uri head -->
</head>
<body>
<!-- Conținutul paginii -->
<h1>Bun venit în lumea HTML!</h1> <!--Linie simpla de titlu-->

<p>Aceasta este o pagină HTML simplă.</p>

<ul>
    <li>Elementul 1</li>
    <li>Elementul 2</li>
    <li>Elementul 3</li>
</ul>

<p>Încercați să editați și să modificați acest cod pentru a vă obișnui cu HTML.</p> <!--Linie simpla de text-->

</body>
</html>
